In [5]:
# 영화 영화

import numpy as np
import pandas as pd

df_movies = pd.read_csv('./data/movies.csv')

df_rate = pd.read_csv('./data/ratings.csv')

display(df_movies)
display(df_rate)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [15]:
# 사용자가 평가한 모든 영화의 전체 평균 평점

# df_rate = pd.merge(df_movies, df_rate, on='movieId', how='inner')

# # display(df_rate)

# rate_movie = df_rate['rating'].groupby(df_rate['movieId'])

# # print(df_rate.shape) (100836, 20)

##(rate_movie)

# print(rate_movie.mean()) #=> Series

# # print(rate_movie.mean().values)

movieId
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: rating, Length: 9724, dtype: float64

In [97]:
# 1. 사용자가 평가한 모든 영화의 전체 평균 평점

df_rate = pd.merge(df_movies, df_rate, on='movieId', how='inner')

display(df_rate)

#rate_movie = df_rate['rating'].groupby(df_rate['movieId'])

print(df_rate['rating'].mean())

# 3.501556983616962

,movieId,title,genres,title_x,genres_x,title_y,genres_y,title_x,genres_x,title_y,...,genres_x,title_y,genres_y,title_x,genres_x,title_y,genres_y,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),...,Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),...,Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),...,Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),...,Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),...,Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Black Butler: Book of the Atlantic (2017),...,Action|Animation|Comedy|Fantasy,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,No Game No Life: Zero (2017),...,Animation|Comedy|Fantasy,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,Flint (2017),Drama,Flint (2017),Drama,Flint (2017),Drama,Flint (2017),...,Drama,Flint (2017),Drama,Flint (2017),Drama,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Bungo Stray Dogs: Dead Apple (2018),...,Action|Animation,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,Andrew Dice Clay: Dice Rules (1991),Comedy,Andrew Dice Clay: Dice Rules (1991),Comedy,Andrew Dice Clay: Dice Rules (1991),Comedy,Andrew Dice Clay: Dice Rules (1991),...,Comedy,Andrew Dice Clay: Dice Rules (1991),Comedy,Andrew Dice Clay: Dice Rules (1991),Comedy,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

3.501556983616962

In [98]:
# 2. 각 사용자별 평균 평점

M_rate = (df_rate['rating'].groupby(df_rate['userId']).mean())

print(M_rate)

userId
1      4.366379
2      3.948276
3      2.435897
4      3.555556
5      3.636364
         ...
606    3.657399
607    3.786096
608    3.134176
609    3.270270
610    3.688556
Name: rating, Length: 610, dtype: float64

In [72]:
# 3. 각 영화별 평균 평점

df_rate = pd.merge(df_movies, df_rate, on='movieId', how='right')

M_rate_movie = (df_rate['rating'].groupby([df_rate['movieId'],df_rate['title']]).mean())

print(M_rate_movie)


# print(type(M_rate_movie))
# <class 'pandas.core.series.Series'>

movieId  title
1        Toy Story (1995)                             3.920930
2        Jumanji (1995)                               3.431818
3        Grumpier Old Men (1995)                      3.259615
4        Waiting to Exhale (1995)                     2.357143
5        Father of the Bride Part II (1995)           3.071429
                                                        ...
193581   Black Butler: Book of the Atlantic (2017)    4.000000
193583   No Game No Life: Zero (2017)                 3.500000
193585   Flint (2017)                                 3.500000
193587   Bungo Stray Dogs: Dead Apple (2018)          3.500000
193609   Andrew Dice Clay: Dice Rules (1991)          4.000000
Name: rating, Length: 9724, dtype: float64

In [99]:
# 4. 평균 평점이 가장 높은 영화의 제목(동률이 있을 경우 모두 출력)

#print(M_rate_movie)

sorted_list = M_rate_movie.sort_values(ascending=False)

# print(sorted_list)

print(sorted_list[sorted_list == 5.0])

movieId  title
53355    Sun Alley (Sonnenallee) (1999)                 5.0
96608    Runaway Brain (1995)                           5.0
33138    Palindromes (2004)                             5.0
128087   Trinity and Sartana Are Coming (1972)          5.0
3851     I'm the One That I Want (2000)                 5.0
                                                       ...
172577   Last Year's Snow Was Falling (1983)            5.0
95843    Goodbye Charlie (1964)                         5.0
172705   Tickling Giants (2017)                         5.0
7815     True Stories (1986)                            5.0
172793   Vovka in the Kingdom of Far Far Away (1965)    5.0
Name: rating, Length: 296, dtype: float64

In [129]:
# 5. Comedy영화 중 가장 평점이 낮은 영화의 제목

contains_Comedy = df_rate['genres'].str.contains('Comedy')

df_Comedy = df_rate[contains_Comedy]

# display(df_Comedy)

# 평점 기준으로 정렬한 뒤 타이틀, 평점 열만 팬시 인덱싱
sorted_df_Comedy = (df_Comedy.sort_values(by=['rating']).loc[:,['title','rating']])

display(sorted_df_Comedy) # 가장 낮은 평점이 0.5점

display(sorted_df_Comedy.loc[:,'title'][sorted_df_Comedy.loc[:,'rating'] == 0.5])

                                                   title  rating
31551                                      Scream (1996)     0.5
46804                              Wild Wild West (1999)     0.5
18792                               Trainspotting (1996)     0.5
60283                              Leonard Part 6 (1987)     0.5
64943                              Kate & Leopold (2001)     0.5
...                                                  ...     ...
16907                                Pretty Woman (1990)     5.0
71358  Pirates of the Caribbean: The Curse of the Bla...     5.0
16913                                Pretty Woman (1990)     5.0
54919                                     Network (1976)     5.0
31812                         Waiting for Guffman (1996)     5.0

[39053 rows x 2 columns]

31551                              Scream (1996)
46804                      Wild Wild West (1999)
18792                       Trainspotting (1996)
60283                      Leonard Part 6 (1987)
64943                      Kate & Leopold (2001)
                          ...
79957                    Mr. & Mrs. Smith (2005)
98967       The Star Wars Holiday Special (1978)
54324    Teenage Mutant Ninja Turtles III (1993)
60859                             Tomcats (2001)
60448                          Monkeybone (2001)
Name: title, Length: 632, dtype: object

In [181]:
# 6. 2015년도에 평가된 모든 Romance 영화의 평균 평점은?

# movies.csv파일에는 평점을 부여한 모든 영화에 대한 정보를 가지고 있다는 가정

# 장르에 로맨스를 포함한 boolean mask 추출
contains_Romance = df_rate['genres'].str.contains('Romance')

# 장르에 로맨스를 포함한 DataFrame
df_Romance = df_rate[contains_Romance].loc[:,['movieId','title','genres','userId','rating','timestamp']]

display(df_Romance)

# timestamp를 문자열로 변환하기 위해 시간 관련 함수 import
import time

# tm = time.localtime(964981247)
# string_year = time.strftime('%Y', tm)
# print(string_year)

tempArr = list()

for S in df_Romance.loc[:,'timestamp'].values:
    
    tm = time.localtime(S)
    string_year = time.strftime('%Y', tm)
    tempArr.append(string_year)

df_Romance.loc[:,'timestamp'] = tempArr

# timestamp를 년도로 바꾼 df
df_appen_yr_Rom = df_Romance


# 여기서 변형시킨 년도는 '문자열'
# boolean indexing + mean() 함수를 사용했다

print((df_appen_yr_Rom.loc[:,'rating'][df_appen_yr_Rom.loc[:,'timestamp'] == '2015']).mean())

# 3.396375098502758

,movieId,title,genres,userId,rating,timestamp
325,3,Grumpier Old Men (1995),Comedy|Romance,1,4.0,964981247
326,3,Grumpier Old Men (1995),Comedy|Romance,6,5.0,845554296
327,3,Grumpier Old Men (1995),Comedy|Romance,19,3.0,965707636
328,3,Grumpier Old Men (1995),Comedy|Romance,32,3.0,856736172
329,3,Grumpier Old Men (1995),Comedy|Romance,42,4.0,996221045
...,...,...,...,...,...,...
100662,179511,Emerald Green (2016),Adventure|Drama|Fantasy|Romance,210,4.0,1537632338
100712,181315,Phantom Thread (2017),Drama|Romance,599,3.5,1517370374
100754,184349,Elsa & Fred (2005),Comedy|Drama|Romance,89,3.5,1520408986
100808,188751,Mamma Mia: Here We Go Again! (2018),Comedy|Romance,212,4.5,1532362151
100819,190207,Tilt (2011),Drama|Romance,338,1.5,1530148481

3.396375098502758